<h2>Оставьте пожалуйста Ваше имя и телефон.</h2>

<form action="/contacts" method="POST">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="contacts[name]" type="text" class="form-control" placeholder="Введите имя" value="">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="contacts[phone]" type="text" class="form-control" placeholder="Введите телефон" value="">
  </div>

<button type="submit" class="btn btn-success">Оставить данные</button>

</form>